body {
  background-color: #DDE6F8;
  font-family: 'Noto Sans HK', sans-serif;
}

/*
  ultimate_div is a protective container that prevents contents inside
  from being shifted upon window resize events
*/
div.ultimate_div {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

/*
  Puts div in the center of its parent container
*/
div.center_view {
  margin: 0 auto;
  padding: 0 120px;
  text-align: left;
  width: 100%;
}

/*
  Container for page navigation
*/
div.page_click_area {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/*
  Container for results
*/
div.middle_org {
  display: inline-block;
  margin: 0 auto;
  padding: 0 120px;
  text-align: left;
  width: 100%;
}

/*
  Container for legal, case, or reddit information
*/
div.fixed_container {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding:32px;
  margin-bottom: 16px;
  width: inherit;
  box-shadow: 0px 2px 4px #CACACA;
}

/*
  Adds a bit of bottom padding
*/
div.bottom_padding {
  padding-bottom: 5em;
}

/*
  Sets dimensions and increases margins at top and bottom
*/
.increase_margins {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 40%;
}

/*
  Increase padding a bit on top and bottom
*/
.increase_padding {
  padding-bottom: 3px;
  padding-top: 3px;
}

/*
  Shifts all inner text left
*/
.left_shift_text {
  padding-top: 20px;
  text-align: left;
}

/*
  Aligns elements vertically in the middle
*/
.middle_vert_align {
  display: inline-block;
  vertical-align: middle;
}

/*
  Specially formatted container limiting extent of text display
*/
.link_no_runon {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1em;
  max-height: 12em;
  overflow-wrap: anywhere;
  overflow: visible;
  padding-right: 50px;
}

/*
  Similar functionality to .link_no_runon
*/
.no_runon {
  display: block;
  line-height: 1.5em;
  max-height: 12em;
  overflow-wrap: anywhere;
  overflow: visible;
  padding-right: 50px;
}

/*
  Element forced to bottom of its container
*/
.cont_bottom {
  bottom: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  position: relative;
}

/*
  Primary button for search and result type selection
*/
.search_btn {
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #2724FF 0%, #4445BA 51%, #3535db 100%);
  border: none;
  color: white;
  font-size: 16px;
  height: 64px;
  width: 160px;
}

/*
  Primary search input
*/
input[type=text] {
  border: 0;
  border-radius: 4px;
  color: #332648;
  font-size: 16px;
  height: 64px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  width: 65%;
}

/*
  Primary search input placeholder
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9AAED7;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9AAED7;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9AAED7;
}

/*
  Primary select input
*/
select {
  border: 0;
  border-radius: 4px;
  color: #332648;
  font-size: 16px;
  height: 64px;
  padding-left: 16px;
  width: 160px;
}

/*
  Primary title header
*/
h1 {
  color: #332648;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 72px;
  font-weight: bold;
}

/*
  Results header
*/
h2 {
  color: #332648;
  font-size: 24px;
  font-family: 'Noto Sans HK', sans-serif;
}

/*
  Primary subtitle header
*/
h3 {
  color: #9AAED7;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: normal;
}

/*
  Container for search form
*/
#search_area {
  padding-bottom: 0px;
  padding-top: 0px;
}

.input_filters_area {
  padding-top: 20px;
  display: block;
}


#query_form {
  background-color: #CDDDFF;
  margin-top: 32px;
  padding: 32px;
  width: inherit;
}

.left_right_padding {
  padding-left: 120px;
  padding-right: 120px
}

.transparent_button {
  color: white;
  background-color: inherit;
  background-image: none;
  border-radius: 5px;
  border-color: blue;
  font-size: 12px;
  color: blue;
  height: 30px;
  width: 100px;
  margin-left: 10px;
}

.transparent_button_small {
  color: white;
  background-color: inherit;
  background-image: none;
  border-radius: 5px;
  border-color: blue;
  font-size: 10px;
  color: blue;
  height: 20px;
  max-width: 120px;
  margin-left: 5px
}
