<html>

<head>
  <title>Legal ProTips</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" href="/static/favicon/law-scales-image.png">
  <script src="/static/helper_scripts.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      /*
        Sets the window width to the maximum value and prevents div shifting
        on window resize events
      */
      $("#ultimate_div").css("width", window.screen.width);

      /*
        Enter button keypress triggers app to send query to server
      */
      $(document).keyup(function(event) {
        if (event.keyCode == 13) {
          event.preventDefault();
          getLegalTips();
        }
      });

      /*
        Initializing the reddit date range selector
      */
      $(function() {
        $("#reddit_date_range").slider({
          range: true,
          min: new Date("2019-12-01").getTime() / 1000,
          max: new Date("2020-05-04").getTime() / 1000,
          step: 86400,
          values: [new Date("2019-12-01").getTime() / 1000, new Date("2020-05-04").getTime() / 1000],
          slide: function(event, date_val) {
            $("#date_range_disp").text(new Date(date_val.values[0] * 1000).toDateString() + ' to ' +
              new Date(date_val.values[1] * 1000).toDateString());
          }
        });

        /*
          Initialize the number of return results slider
        */
        $("#num_res_range").slider({
          min: 5,
          max: 100,
          step: 1,
          value: 5,
          slide: function(event, val) {
            $("#num_res_range_disp").text(val.value);
          }
        });

        /*
          Initializing text display of data attached to above sliders
        */
        $("#date_range_disp").text(new Date("2019-12-01").toDateString() + ' to ' +
          new Date("2020-05-04").toDateString());
        $("#num_res_range_disp").text(5);

        /*
          Altering CSS of the slider elements
        */
        $("#reddit_date_range .ui-state-default").css("background-size", "200%");
        $("#reddit_date_range .ui-state-default").css("outline", "none");
        $("#reddit_date_range .ui-state-default").css("box-shadow", "none");
        $("#reddit_date_range .ui-state-default").css("border", "1px blue");
        $("#reddit_date_range .ui-state-default").css("background-image", "linear-gradient(to right, #2724FF 0%, #4445BA 51%, #3535db 100%)");
        $("#reddit_date_range .ui-widget-header").css("background", "white");
        $("#num_res_range .ui-state-default").css("background-size", "200%");
        $("#num_res_range .ui-state-default").css("outline", "none");
        $("#num_res_range.ui-state-default").css("box-shadow", "none");
        $("#num_res_range .ui-state-default").css("border", "1px blue");
        $("#num_res_range .ui-state-default").css("background-image", "linear-gradient(to right, #2724FF 0%, #4445BA 51%, #3535db 100%)");
        $("#num_res_range .ui-widget-header").css("background", "white");
      });

      /*
        Setting up autocomplete for the query
      */
      $(function() {
        var key_words = [
          "rent",
          "rented",
          "quarantine",
          "quarantined",
          "tax",
          "taxed",
          "taxes",
          "legal",
          "legality",
          "illegal",
          "statute",
          "statutes",
          "law",
          "laws",
          "fine",
          "curfew",
          "mandatory",
          "landlord",
          "evict",
          "evicted",
          "eviction",
          "raise",
          "raised",
          "price",
          "prices",
          "gouge",
          "gouging",
          "increase",
          "increased",
          "decrease",
          "decreased",
          "infect",
          "infected",
          "laid-off",
          "laid",
          "off",
          "furlough",
          "furloughed",
          "sick",
          "ill",
          "medical",
          "bills",
          "hospital",
          "federal",
          "state",
          "government",
          "aid",
          "financial",
          "finance",
          "coronavirus",
          "COVID-19",
          "COVID",
          "pandemic",
          "epidemic"
        ];
        $("#query_input")
          .on("keydown", function(event) {
            if (event.keyCode == 9 && $(this).autocomplete("instance").menu.active) {
              event.preventDefault();
            }
          })
          .autocomplete({
            classes: {
              "ui-autocomplete": "custom_autocomplete_style"
            },
            minLength: 0,
            source: function(req, resp) {
              total_words = req.term.split(" ");
              last_word = total_words.pop();
              pre_words = total_words.join(" ");
              potential_words = key_words.filter(function(in_str) {
                return in_str.toLowerCase().indexOf(last_word.toLowerCase()) == 0;
              });
              is_cap = last_word.length > 0 && last_word[0] == last_word[0].toUpperCase();
              potential_words = potential_words.map(function(in_str) {
                if (is_cap) {
                  return pre_words + " " + in_str[0].toUpperCase() + in_str.substring(1);
                } else {
                  return pre_words + " " + in_str;
                }
              })
              potential_words = potential_words.slice(0, Math.min(potential_words.length, 10));
              resp(potential_words);
            },
            focus: function() {
              return false;
            },
            select: function(event, input_area) {
              this.value = input_area.item.value + " ";
              return false;
            }
          });
      });

      /*
        Setting up tooltip popup
      */
      $("#choose_no_ml").tooltip({
        tooltipClass: "custom_tooltip_style"
      });
      $("#choose_log_reg").tooltip({
        tooltipClass: "custom_tooltip_style"
      });
      $("#choose_rocchio").tooltip({
        tooltipClass: "custom_tooltip_style"
      });

      // Open About Modal
      $("#aboutBtn").click(function(event) {
        $("#aboutModal")[0].style.display = "block";
      });

      // When a user clicks anywhere outside of the modal or the X, close it
      $(document).click(function(event) {
        if (event.target == $("#aboutModal")[0] || event.target == $("#modalClose")[0]) {
          $("#aboutModal")[0].style.display = "none";
        }
        if (event.target == $("#important_notices_close")[0]) {
          $("#important_notices")[0].style.display = "none";
        }
      });

      setTimeout(function() {
        $("#important_notices")[0].style.display = "block";
      }, 1000);
    });
  </script>
</head>
<!-- The id and attributes of all elements are tightly coupled with helper_scripts.js,
so any removal or modification may cause errors and unexpected behavior -->

<body id="clickable_body">
  <!-- ultimate_div prevents the elements contained within from being shifted
  around during window resize events -->
  <div id="ultimate_div" class="ultimate_div">
    <!-- Within ultimate_div, there are 3 primary container divs (based on id):
            search_area: Where the user can input query, county, category
            results_area: Where the user can see the resulting documents
    -->
    <button id="aboutBtn" class="about_button"> <i class="material-icons">info</i></button>
    <div id="aboutModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="modalClose" class="close">&times;</span>
        <p>Legal-Pro-Tips was built by Andrei Kozyrev, David Huang, Keivan Shahida, Kevin Ye, and Lily Pagan at Cornell University. <br>
          This was a project for CS/INFO 4300 during Spring 2020 and motivated by COVID-19. <br>
          Code viewable on <a a style="color: gray" target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/kevinye2/cs4300sp2020-aak85-dh558-ks963-ky242-lp398">Github</a>.</p>
        <h5 style="display: block; color: gray"><a style="color: gray" target="_blank" rel="nofollow noopener noreferrer" href="https://legal-pro-tips.herokuapp.com">Prototype 1</a></h5>
        <h5 style="display: block; color: gray"><a style="color: gray" target="_blank" rel="nofollow noopener noreferrer" href="https://legal-pro-tips-v2.herokuapp.com">Prototype 2</a></h5>
        <h5 style="display: block; color: gray"><a style="color: gray" target="_blank" rel="nofollow noopener noreferrer" href="https://legal-pro-tips-final.herokuapp.com">Original final prototype (milestone 5)</a></h5>
      </div>
    </div>
    <div id="search_area" class="center_view">
      <!-- The search_area is composed of a form with 3 elements:
              query_input: Where user inputs tet
              county_selection: Where user selects a county from a dropdown
              category_selection: Where user selects whether they want law,
                case, or reddit
      -->
      <h1>Know your rights.</h1>
      <div style="width: inherit">
        <h3>COVID is affecting everyone in unique ways, but one thing unites us all – our rights.</h3>
        <h3 style="color: #4445BA">If you're in Illinois, we're here to help.</h3>
        <br>
      </div>
      <form id="query_form" method="dialog">
        <!-- The custom CSS allows the query_input and county_selection to have
          equivalent vertical height and alignment, although imported themes
          may have different alignments. Potentially utilize jquery to manually
          set element height and alignment if necessary -->
        <input class="middle_vert_align" type="text" id="query_input" placeholder="What can we help you with?">
        </input>
        <button type="button" class="search_btn" id="query_submit" onclick="getLegalTips()">
          Search
        </button>
        <div id="ml_option_area" style="width: 100%; padding-right: 5px; padding-top: 10px">
          <h5 style="display: inline-block; font-weight: bold">Relevance feedback mode:</h5>
          <button title="You cannot like/dislike documents in this mode." type="button" class="transparent_button" id="choose_no_ml" data-mltype=0 onclick="setML(this)">
            None
          </button>
          <button
            title="Once you've liked/disliked some documents, reclick search to see updates. Make sure to have a mix of feedback per category. This mode works best if you ask for a large number of documents, as logistic regression reranks retrieved documents."
            type="button" class="transparent_button" id="choose_log_reg" data-mltype=1 onclick="setML(this)">
            Logistic Regression
          </button>
          <button title="Once you've liked/disliked some documents, reclick search to see updates." type="button" class="transparent_button" id="choose_rocchio" data-mltype=2 onclick="setML(this)">
            Rocchio
          </button>
        </div>
        <div class="input_filters_area">
          <div id="reddit_slider_holder" style="width: 40%; padding-right: 5px; display: inline-block">
            <h5 style="display: block; font-weight: bold">Filter Reddit results by date (UTC):</h5>
            <span id="date_range_disp" style="display: inline-block; padding-bottom: 10px"></span>
            <div id="reddit_date_range" style="width: 70%; background: white"></div>
          </div>
          <div id="num_res_slider_holder" style="width: 40%; padding-right: 5px; display: inline-block">
            <h5 style="display: block; font-weight: bold">Max number of results per category:</h5>
            <span id="num_res_range_disp" style="display: inline-block; padding-bottom: 10px">1</span>
            <div id="num_res_range" style="width: 70%; background: white"></div>
          </div>
        </div>
      </form>
    </div>
    <!-- There are 3 primary div elements in results_area:
            codes_info_container holds all elements relevant to displaying
              legal info
            The other 2, cases_info_container and reddit_info_container, are
              structured identically
    -->
    <div id="results_area" class="bottom_padding">
      <!-- The colors of each button within category_selection are controlled
                by jquery code within helper_scripts.js; if buttons are replaced by
                some other element, event listeners and id must be kept-->
      <div class="increase_padding left_right_padding" id="category_selection" style="visibility: hidden">
        <h2 style="font-weight: bold">Results</h2>
        <h5 style="display: inline-block">Filter results by type:</h5>
        <button type="button" class="transparent_button" id="choose_codes" data-category="codes_info_container" onclick="setCategory(this)">
          Legal statutes
        </button>
        <button type="button" class="transparent_button" id="choose_cases" data-category="cases_info_container" onclick="setCategory(this)">
          Legal cases
        </button>
        <button type="button" class="transparent_button" id="choose_reddit" data-category="reddit_info_container" onclick="setCategory(this)">
          Reddit
        </button>
        <button type="button" class="transparent_button" id="choose_liked" data-category="liked_info_container" onclick="setCategory(this)">
          Liked Results
        </button>
      </div>
      <div class="middle_org" id="codes_info_container" style="display: none">
        <!-- The elements in codes_info_container are identical in purpose
              and structure to the other containers below.
            codes_info contains the actual text resulst for legal info, and
              it has been carefully formatted to cleanse the text for display.
            codes_info_page_click contains the minimalistic page navigation
              display, which has also been carefully formatted.
        -->
        <div class="left_shift_text" id="codes_info"></div>
        <div class="page_click_area">
          <span class="increase_padding" id="codes_info_page_click"></span>
        </div>
      </div>
      <div class="middle_org" id="cases_info_container" style="display: none">
        <div class="left_shift_text" id="cases_info"></div>
        <div class="page_click_area">
          <span class="increase_padding" id="cases_info_page_click"></span>
        </div>
      </div>
      <div class="middle_org" id="reddit_info_container" style="display: none">
        <div class="left_shift_text" id="reddit_info"></div>
        <div class="page_click_area">
          <span class="increase_padding" id="reddit_info_page_click"></span>
        </div>
      </div>
      <div class="middle_org" id="liked_info_container" style="display: none">
        <div class="left_shift_text" id="liked_info"></div>
        <div class="page_click_area">
          <span class="increase_padding" id="liked_info_page_click"></span>
        </div>
      </div>
    </div>
    <div id="important_notices" class="modal">
      <div style="position: absolute; bottom: 0; left: 0; right: 0" class="modal-content">
        <span id="important_notices_close" class="close">&times;</span>
        <p>Please do not input personally identifable information within queries.</p>
        <p>The UI only supports desktop views with 720p or higher resolutions.</p>
        <p>If you leave the application idle for roughly 30 minutes or more, there may be an error upon clicking search. Please reload the page and wait if that happens.</p>
        <p>This app will not remember your relevance feedback or like history if you exit the browser tab.</p>
        <p>This application does not provide actual legal advice. It is only a potential guide for legal issues.</p>
      </div>
    </div>
  </div>
</body>

</html>
